name: Build binary

on:
  workflow_dispatch

env:
  CARGO_TERM_COLOR: always
  ONIUX_ROOT_DIR: /tmp/oniux
  APT: sudo apt -y -qq -o=Dpkg::Use-Pty=0

defaults:
  run:
    # necessary for windows
    shell: bash

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # a list of all the targets
        include:
          - TARGET: x86_64-unknown-linux-gnu # tested in a debian container on a mac
            OS: ubuntu-latest
          
          - TARGET: x86_64-unknown-linux-musl # test in an alpine container on a mac
            OS: ubuntu-latest
          
          - TARGET: aarch64-unknown-linux-gnu # tested on aws t4g.nano
            OS: ubuntu-latest
          
          - TARGET: aarch64-unknown-linux-musl # tested on aws t4g.nano in alpine container
            OS: ubuntu-latest
          
          - TARGET: armv7-unknown-linux-gnueabihf # raspberry pi 2-3-4, not tested
            OS: ubuntu-latest
          
          - TARGET: armv7-unknown-linux-musleabihf # raspberry pi 2-3-4, not tested
            OS: ubuntu-latest
          
          - TARGET: arm-unknown-linux-gnueabihf # raspberry pi 0-1, not tested
            OS: ubuntu-latest
          
          - TARGET: arm-unknown-linux-musleabihf # raspberry pi 0-1, not tested
            OS: ubuntu-latest
          
          - TARGET: x86_64-apple-darwin # tested on a mac, is not properly signed so there are security warnings
            OS: macos-latest
          
          - TARGET: x86_64-pc-windows-msvc # tested on a windows machine
            OS: windows-latest
            
    runs-on: ${{ matrix.OS }}
    
    env:
      NAME: oniux_binary # change with the name of your project
      TARGET: ${{ matrix.TARGET }}
      OS: ${{ matrix.OS }}
    
    steps:
      - name: Clone oniux repo
        run: |
          cd /tmp/
          git clone 'https://gitlab.torproject.org/tpo/core/oniux.git' -o oniux
      
      - name: Cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            /tmp/oniux
          key: build-cargo-registry-${{ matrix.TARGET }}
      
      - name: List
        run: find $ONIUX_ROOT_DIR
        
      - name: Install and configure dependencies
        run: |
          # dependencies are only needed on ubuntu as that's the only place where
          # we make cross-compilation
          if [[ $OS =~ ^ubuntu.*$ ]]; then
            sudo $APT install crossbuild-essential-arm64 crossbuild-essential-armhf
          fi

          if [[ $TARGET == *"-musl"* ]]; then
            sudo $APT install musl-tools
          fi

          if [[ $TARGET == "arm"* ]]; then
            cd "$ONIUX_ROOT_DIR"
            cargo install --force --locked bindgen-cli
          fi

          # some additional configuration for cross-compilation on linux
          cat >>~/.cargo/config <<EOF
          [target.aarch64-unknown-linux-gnu]
          linker = "aarch64-linux-gnu-gcc"
          [target.aarch64-unknown-linux-musl]
          linker = "aarch64-linux-gnu-gcc"
          [target.armv7-unknown-linux-gnueabihf]
          linker = "arm-linux-gnueabihf-gcc"
          [target.armv7-unknown-linux-musleabihf]
          linker = "arm-linux-gnueabihf-gcc"
          [target.arm-unknown-linux-gnueabihf]
          linker = "arm-linux-gnueabihf-gcc"
          [target.arm-unknown-linux-musleabihf]
          linker = "arm-linux-gnueabihf-gcc"
          EOF
      
      - name: Install rust target
        run: rustup target add $TARGET
        
      - name: Run build
        run: |
          cd $ONIUX_ROOT_DIR
          #cargo build --release --verbose --target $TARGET
          cargo build --release --target $TARGET
      
      - name: List target
        run: |
          OLD_ONIUX_BIN_PATH="$ONIUX_ROOT_DIR/target/$TARGET/release/oniux"
          ONIUX_BIN_PATH="$ONIUX_ROOT_DIR/target/$TARGET/release/oniux-$TARGET"
          ONIUX_BIN_HASH_PATH="$ONIUX_ROOT_DIR/target/$TARGET/release/oniux-$TARGET.sha256.txt"
          cp -f "$OLD_ONIUX_BIN_PATH" "$ONIUX_BIN_PATH"
          
          ls -alh "$ONIUX_BIN_PATH"
          
          sha256sum --tag "$ONIUX_BIN_PATH" | tee -a "$ONIUX_BIN_HASH_PATH"
          
          echo "ONIUX_BIN_PATH=$ONIUX_BIN_PATH" >> $GITHUB_ENV
          echo "ONIUX_BIN_HASH_PATH=$ONIUX_BIN_HASH_PATH" >> $GITHUB_ENV
          
      
      - name: Archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            $ONIUX_BIN_PATH
            $ONIUX_BIN_HASH_PATH

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: results
        path: /tmp/results

    - name: List target
      run: |
        cd "/tmp/results"
        ls -alh
        
